<h2>Template Render Props</h2>

<h3>Render Props</h3>

<ng-container *ngTemplateOutlet="hasTemplate('header') ? getTemplate('header') : defaultHeader"></ng-container>
<ng-container *ngTemplateOutlet="hasTemplate('footer') ? getTemplate('footer') : defaultFooter"></ng-container>

<h3>Render Template</h3>
<app-render-template
  [template]="{ customTemplate: templates.header, defaultTemplate: defaultHeader }"
></app-render-template>
<app-render-template
  [template]="{ customTemplate: templates.footer, defaultTemplate: defaultHeader }"
></app-render-template>

<ng-template #defaultHeader> <div>Default Header</div> </ng-template>
<ng-template #defaultFooter> <div>Default Footer</div> </ng-template>
